@import "styles/utils";

.main {
  min-height: 667px;
  padding: 67px 0 66px;

  @include media(">desktop") {
    padding: 182px 0;
  }

  .title {
    position: absolute;
    top: -9999px;
  }

  .expensesChartContainer {
    display: flex;
    justify-content: center;
  }
}
